// COLORS
$primary-color: #ffa200;
$secondary-color: #060400;
$font-family: "Montserrat", sans-serif;

$light-white: #cd9797;
$white-color: #f50505;
$dark-grey: #e60f0f;

$dark-blue-text: #25c722; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
